body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  gap: 10px;
  height: 100vh;

  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: black;
}

header,
footer {
  width: 100%;
  height: 10vh;
  background-color: #f2f2e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  padding: 10px 0;
}

footer {
  font-size: 0.8em;
}

main {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  font-size: 1.3em;
  transform: translateY(5px);
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#send_button {
  padding: 0.75rem 1.5rem;
  font-size: 1em;
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#send_button:hover {
  background-color: #555;
}

#email,
#topic,
#message {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}
